<%= render 'shared/error_messages', model: f.object %>

<div class="movie-form-group">
  <div class="movie-form-text-wrap">
    <label class="movie-form-text">タイトル</label>
    <span class="movie-indispensable">必須</span>
  </div>
  <%= f.text_area :movie_title, class:"movie-input-title", id:"movie_title", placeholder:"例) ハリーポッター", maxlength:"40", autofocus: true %>
</div>

<div class="movie-form-group">
  <div class="movie-form-text-wrap">
    <label class="movie-form-text">画像</label>
    <span class="movie-optional">任意</span>
  </div>
  <%= f.file_field :image, class:"movie-image", id:"image" %> 
  <span>or</span>
  <%= f.text_field :image_url, class:"movie-image-url" , id:"image-url", placeholder: "画像 url" %>
</div>

<div class="movie-form-group">
  <div class="movie-form-text-wrap">
    <label class="movie-form-text">感想</label>
    <span class="movie-indispensable">必須</span>
  </div>
  <%= f.text_area :thought, class:"movie-input-thought", id:"thought", placeholder:"例) 面白かった" %>
</div>

<div class="movie-form-group">
  <div class="movie-form-text-wrap">
    <label class="movie-form-text">ジャンル</label>
    <span class="movie-indispensable">必須</span>
  </div>
  <%= f.collection_select(:genre_id, Genre.all, :id, :name, { include_blank: '---'}, {class:"movie-input-genre", id:"genre"} )%>
</div>

<div class="movie-form-group">
  <div class='movie-form-text-wrap'>
    <label class="movie-form-text">評価</label>
    <span class="movie-indispensable">必須</span>
  </div>
  <%= f.number_field :evaluation, min:0, max: 5, step: 0.1, class:"movie-input-evaluation", id:"evaluation" ,placeholder:"3.5"%>
</div>

<div class="movie-form-group">
  <div class='movie-form-text-wrap'>
    <label class="movie-form-text">公開</label>
    <span class="movie-indispensable">必須</span>
  </div>
  <%= f.radio_button :release, "公開", checked: true, class:"release" %>
  <%= f.label :release, "公開する", value: "公開", style: "display: inline-block;" %>
  <%= f.radio_button :release, "非公開", class:"release" %>
  <%= f.label :release, "公開しない", value: "非公開", style: "display: inline-block;" %>
</div>