<%= render partial:"shared/main_header" %>
<div class="sub-header show_header">
  <div class="sub-header-left">
  </div>

  <div class="sub-header-center">
    <div class = "sub-header-title">
      詳細内容
    </div>
  </div>
  
  <div class="sub-header-right">
  </div>
  
</div>

<div class = "movie-detail-wrap">
  <div class = "movie-detail-title">
    <%= @movie.movie_title %>
  </div>
  <div class= "movie-detail-content">
    <div class = "movie-detail-img-box">
      <% if @movie.image.present? %>
        <%= image_tag @movie.image, class:"movie-detail-img"%>
      <% else %>
        <%= image_tag @movie.image_url, class: "movie-detail-img"%>
      <% end %>
    </div>
    <table class = "movie-detail-table">
      <tbody >
        <tr>
          <th class="detail-item">投稿者</th>
          <td class="detail-value"><%= @movie.user.nickname%></td>
        </tr>
        <tr>
          <th class="detail-item">評価</th>
          <td class="detail-value"><%= @movie.evaluation%></td>
        </tr>
        <tr>
          <th class="detail-item">ジャンル</th>
          <td class="detail-value"><%= @movie.genre.name %></td>
        </tr>
        <tr>
          <th class="detail-item">感想</th>
          <td class="detail-value"><%= @movie.thought%></td>
        </tr>
        <tr>
          <th class="detail-item">公開</th>
          <td class="detail-value"><%= @movie.release%></td>
        </tr>
      </tbody>
    </table>
  </div>
  <% if user_signed_in? && current_user.id == @movie.user_id%>
    <ul class="edit-destroy-box">
      <li>
        <%= link_to "編集", edit_movie_path(@movie), class: "movie-edit-btn"%>
      </li>
      <li>
        <%= link_to "削除", movie_path(@movie), method: :delete, class:"movie-destroy-btn" %>
      </li>
    </ul>
  <% end %>
</div>
<%= render partial:"shared/footer" %>