<div class="sub-header user_header">
  <div class="sub-header-left">
    <div class = "release-status-wrap">
      <% if controller.action_name =="show"%>
        <div id="release-status" style="display: none;"><%=@release%></div>
        <%=form_with(url: user_path(current_user), local: true, method: :get, id: "release-form") do |f|%>
          <%=f.radio_button :release, "すべて" %>
          <%=f.label :release ,"すべて", value: "すべて"%>
          <%=f.radio_button :release , "公開"%>
          <%=f.label :release, "公開", value: "公開"%>
          <%=f.radio_button :release, "非公開"%>
          <%=f.label :release, "非公開", value: "非公開"%>
        <%end%>
      <%end%>
    </div>
  </div>

  <div class="sub-header-center">
    <div class = "sub-header-title" >
      <%= @user.nickname %>さんの一覧
    </div>
  </div>
  
  <div class="sub-header-right">
    
    <div class="movie-count-wrap" id="movie-count">
      <div class="movie-count-text" id="count-button">合計数</div>
      <div class= "movie-count-box", id ="count-box">
        <%= form_with(url: "", local: true, method: :get, id: "select-year-form") do |f| %>
          <%= f.select :num, options_for_select([[Time.now.years_ago(0).year, 0], [Time.now.years_ago(1).year, 1], [Time.now.years_ago(2).year, 2], [Time.now.years_ago(3).year, 3]]),
          {include_blank: '年を選んでください'} ,class: "select-year-pull"%>
        <% end %>

        <div id="movie-count-data-wrap">
          <% @movie_count_all.each_with_index do |movie_count, i| %>
            <div class= "movie-count-data" >
              <div class= "select-year-title"><%= Time.now.years_ago(i).year%></div>
              <table class="movie-count-table">
                <% movie_count.each do |month, count| %>
                  <tr>
                    <th class="movie-count-month"><%= month %>月</th>
                    <td class="movie-count-number"><%= count %>本</td>
                  </tr>
                <% end %>
              </table>

              <div class="movie-count-chart-box">
                <%= column_chart movie_count, class: "movie-count-chart" %>
              </div>
          
            </div>
          <%end%>
        </div>
      </div>
    </div>
  
    <div class = "search-wrap">
      <div class="search-text" id="search-button">検索欄</div>
      <div class = "search-form hidden" id="search-pull-down" >
        <%= search_form_for @q, url: search_user_path(@user) do |f| %>
          <%=f.radio_button :release_eq, "" %>
          <%=f.label :release_eq ,"すべて", value: ""%>
          <%=f.radio_button :release_eq , "公開"%>
          <%=f.label :release_eq, "公開", value: "公開"%>
          <%=f.radio_button :release_eq, "非公開"%>
          <%=f.label :release_eq, "非公開", value: "非公開"%>
          <br>
          <%= render partial: "shared/search_movie", locals: {f: f} %>
        <% end %>
      </div>
    </div>
  </div>
  
</div>