<%= render partial:"shared/header" %>

<div class = "movie-contents user-contents-background">
  <div class = "movie-contents-title" >
    <%= @user.nickname %>さんの一覧
  </div>
  
  <% if controller_name == "users"%>
    <div class="movie-count-wrap" id="movie-count">
      <div class="movie-count-text" id="count-button">合計数</div>
      <div class= "movie-count-box", id ="count-box">
        <%= form_with(url: user_path(current_user), local: true, method: :get, id: "select-year-form") do |f| %>
          <%= f.select :num, options_for_select([[Time.now.years_ago(0).year, 0], [Time.now.years_ago(1).year, 1], [Time.now.years_ago(2).year, 2], [Time.now.years_ago(3).year, 3]]),
          {include_blank: '年を選んでください'} ,class: "select-year-pull"%>
        <% end %>

        <div id="movie-count-data-wrap">
          <% @movie_count_all.each_with_index do |movie_count, i| %>
            <div class= "movie-count-data" >
              <div class= "select-year-title"><%= Time.now.years_ago(i).year%></div>
              <table class="movie-count-table">
                <% movie_count.each do |month, count| %>
                  <tr>
                    <th class="movie-count-month"><%= month %>月</th>
                    <td class="movie-count-number"><%= count %>本</td>
                  </tr>
                <% end %>
              </table>

              <div class="movie-count-chart-box">
                <%= column_chart movie_count, class: "movie-count-chart" %>
              </div>
          
            </div>
          <%end%>
        </div>

      </div>
    </div>
  <% end %>


  <%= render partial:"shared/movie_lists", locals: {movies: @movies} %>
</div>