<header class = "main-header">
  <div class="header-top">
    <div class = "header-title">
      <h1>MovieApp</h1>
    </div>
  </div>
  <div class="header-bottom">
    <ul class="list-left">
      <li><%= link_to "チャットルーム", "", class:"chat-room"%></li>
      <% if user_signed_in?%>
        <li><%= link_to "新規作成", "#", class:"new-movie" %></li>
      <% end %>
    </ul>
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, "#", class: "user-nickname" %></li> 
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li> 
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</header>