<header class = "main-header">
  <div class = "main-header-wrap">
    <div class="header-top">
      <div class = "header-left">
        <%= link_to "MovieApp", root_path, class: "header-title"%>
      </div>
      <ul class='header-right'>
        <% if user_signed_in? %>
          <li><%= link_to current_user.nickname, user_path(current_user), class: "user-nickname" %></li> 
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li> 
        <% else %>
          <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
          <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
        <% end %>
      </ul>
    </div>
    <div class="header-bottom">
      <ul class="list-left">
        <% if user_signed_in?%>
          <li><%= link_to "新規作成", new_movie_path, class:"new-movie" %></li>
          <li><%= link_to "チャットルーム", "", class:"chat-room"%></li>
        <% end %>
      </ul>
      
      <div class = "search-wrap">
        <div class="search-text" id="search-button">検索欄</div>
        <div class = "search-form hidden" id="search-pull-down" >

          <% if controller_name == "movies" %>
            <%= search_form_for @q, url: search_movies_path do |f| %>
              <%= render partial: "shared/search_form", locals: {f: f} %>
            <% end %>

          <% elsif controller_name == "users"%>
            <%= search_form_for @q, url: search_user_path(@user) do |f| %>
              <%= render partial: "shared/search_form", locals: {f: f} %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>