<%= render partial:"shared/main_header" %>
<%= render partial:"room_header" %>

<div class = "main-contents room-contents-background">
  <ul class="room-lists">
    <% @rooms.each do |room| %>
      <li class="room-list">
        <%=link_to room_chats_path(room) ,class: "room-list-link" do %>
          <div class="room-name">
            <%= room.room_name %>
          </div>
          <div class="room-purpose">
            <%= room.purpose %>
          </div>
          <div class="room-date">
            <%= l room.created_at %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
<%= render partial:"shared/footer" %>